.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 12px;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.choice {
  display: flex;
  justify-content: space-around;
}

.name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 700
}

.logo {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 12px auto 12px auto;
}

.subtitle {
    text-align: center;
    margin: 100px auto 100px auto; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 1.4;
}


.segmented {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px;

  padding: 6px;
  border-radius: 14px;
  background: rgba(0,0,0,0.06);
}

.segmented input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.segmented label {
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;

  transition: background 0.15s ease, transform 0.15s ease;
}

/* Selected state */
.segmented input:checked + label {
  background: white;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
  transform: translateY(-1px);
}

/* Optional hover */
.segmented label:hover {
  background: rgba(255,255,255,0.6);
}




.save-wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.save-btn {
    background-color: white;
    gap: 6px;
    padding: 20px;
    border-radius: 30px;
    background: rgba(0,0,0,0.06);
}
